<div class="container">
    <div class="card my-3">
        <div class="card-header">
            <h1>To-Do List</h1>
        </div>
        <div class="card-body">
            <add-tasks (add)="addTodo($event)"/>
        
            <tasks-lists
                [tasks]="tasks"
                (toggle)="toggleCompleted($event)"
                (delete)="deleteTodo($event)"
                />
        </div>
        <div class="card-footer">
            <div class="filters">
                <button 
                    (click)="setFilter('all')"
                    class="btn btn-primary mx-2"
                    >
                    All
                </button>
                <button 
                    (click)="setFilter('completed')"
                    class="btn btn-success mx-2"
                    >
                    Completed
                </button>
                <button 
                    (click)="setFilter('pending')"
                    class="btn btn-warning mx-2"
                    >
                    Waiting
                </button>
            </div>
        </div>
    </div>
</div>